<!DOCTYPE html>
<html lang="ko">

<head>
    <title>BboBooks</title>
    <!-- Common -->
    <%- include('common/common');%>
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    <!--Nav-->
    <%- include('common/nav'); %>
        <!-- Visual -->
        <div class="main-content">
            <%- include(page); %>
        </div>
        <!-- Footer -->
        <%- include('common/footer'); %>
</body>

</html>