<form class="flex-1 w-full h-full flex justify-center items-center flex-col" action="/auth/join" method="post">
    <h1 class="w-2/5 text-3xl mb-2">Join</h1>
    <input name="user_id" type="text" class="border-b mb-5 w-2/5 outline-none" placeholder="Login ID" />
    <input name="user_pw" type="password" class="border-b mb-5 w-2/5 outline-none" placeholder="Login Password" />
    <input name="user_nm" type="text" class="border-b mb-5 w-2/5 outline-none" placeholder="User Name" />
    <input name="user_grade" type="text" class="border-b mb-5 w-2/5 outline-none"  value="Bronze" disabled/>
    <input class="w-2/5 p-2 cursor-pointer" type="submit" value="Join">
    <p class="m-2">
        Already have ID?<a href="/auth/login" class="m-2">Login</a>
    </p>
</form>