<form class="flex-1 w-full h-full flex justify-center items-center flex-col" action="/auth/login" method="post">
    <h1 class="w-2/5 text-3xl mb-2">Login</h1>
    <input type="text" name="user_id" class="border-b mb-5 w-2/5 outline-none" placeholder="Login ID">
    <input type="password" name="user_pw" class="border-b mb-5 w-2/5 outline-none" placeholder="Login Password">
    <input class="w-2/5 p-2 cursor-pointer" type="submit" value="Login">
    <a href="/auth/join" class="m-2">Or Join now</a>
</form>